@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("../images/bg.jfif");
    background-size: cover;
    background-position: bottom center;
    padding: 35px 0px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

img.logo {
    width: 120px;
    height: 120px;
    box-shadow: 3px 1px rgba(0, 0, 0, 0.466);
    border-radius: 100%;

    margin: 10px 0px;
}

img.logo:hover {
    scale: 1.1;
    transition: 0.5s;
}

section > h1, p { 
    font-size: bold;
    text-align: center;
    color: white;
}

section.hours {
    color: white;
    font-size: bold;
    text-align: center;
    background-color: rgb(0, 160, 61);
    border-radius: 5px;

    margin: 5px 0px;
    padding: 2px;
}

/* ------------------ FIM DO HEADER ------------------ */

section.first { /* 1º PRATO */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 0px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.second { /* 2º PRATO */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.third { /* 3º PRATO */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.fourth { /* 4º PRATO */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.fiveth { /* 5º PRATO */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.sixth { /* 6º PRATO */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin: 15px;
}

img.product {
    width: 120px;
    height: 110px;
    border-radius: 10px;

    margin-left: 5px;
}
img.product:hover {
    scale: 1.1;
    rotate: -1.9deg;
    transition: 2s;
}

article > h3  {
    color: black;
    text-align: justify;
    margin: 0px 10px;
}

article > p  {
    font-size: 0.9rem;
    color: black;
    text-align: justify;
    margin: 3px 10px;
}

article > div {
    margin: 0px 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div > h4 {
    font-size: 1.2rem;
}

button {
    background-color: rgb(27, 27, 27);
    color: white;
    width: 65px;
    border-radius: 12px;
}

/* ------------------ FIM DO MENU PRINCIPAL ------------------ */

section.seventh { /* 1ª SOBREMESA */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.eighth { /* 2ª SOBREMESA */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.nineth { /* 3ª SOBREMESA */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

/* ------------------ FIM DAS SOBREMESAS ------------------ */

section.tenth { /* 1ª BEBIDA */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.eleventh { /* 2ª BEBIDA */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.twelfth { /* 3ª BEBIDA */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.thirteenth { /* 4ª BEBIDA */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.fourteenth { /* 5ª BEBIDA */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.fifteenth { /* 6ª BEBIDA */
    background-color: rgba(243, 243, 243, 0.568);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.205);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

section.grid3 {
    padding-bottom: 60px;
}

/* -------------------- FIM DO MAIN -------------------- */

section.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

section.modal_content {
    background-color: rgb(255, 255, 255);
    width: 80%;
    border-radius: 10px;
}

.modal_content > h2 {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    padding-bottom: 20px;
    text-align: center;
}

div.cart_itens {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.modal_content > p {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    padding-bottom: 8px;
    text-align: left;
    margin: 0px 5px;
}

p.adress_error {
    color: rgb(255, 0, 0);
    display: none;
}

input#adress {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    margin: 0px 0px 15px 5px;
}

div.btts {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

button#close_modal {
    text-align: center;
    background-color: rgb(209, 20, 20);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    margin: 0px 0px 10px 5px;
    border-radius: 10px;
}

button#close_modal:hover {
    background-color:rgb(255, 26, 26);
}

button#checkout_btt {
    text-align: center;
    background-color: rgb(0, 107, 9);
    color: rgb(255, 255, 255);
    width: 110px;
    height: 30px;
    margin: 0px 5px 10px 0px;
    border-radius: 10px;
}

button#checkout_btt:hover {
    background-color: rgb(0, 182, 15);
}

/* -------------------- FIM DO MODAL -------------------- */

footer > button {
    width: 100%;
    background-color: rgb(255, 34, 34);
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Para garantir que fique acima de outros elementos */


    display: flex;
    justify-content: center;
}

/* -------------------- FIM DO FOOTER -------------------- */


/* --------------------- ANIMAÇÕES --------------------- */

.first:hover, .second:hover, .third:hover, .fourth:hover, .fiveth:hover, .sixth:hover, .seventh:hover, .eighth:hover, .nineth:hover, .tenth:hover, .eleventh:hover, .twelfth:hover, .thirteenth:hover, .fourteenth:hover, .fifteenth:hover {
    scale: 1.025;
}